USE [master]
GO
/****** Object:  Database [LocalComidas]    Script Date: 24/11/2020 18:37:00 ******/
CREATE DATABASE [LocalComidas]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'LocalComidas', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.SQLEXPRESS\MSSQL\DATA\LocalComidas.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'LocalComidas_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.SQLEXPRESS\MSSQL\DATA\LocalComidas_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [LocalComidas].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [LocalComidas]
GO
/****** Object:  Table [dbo].[Pedido]    Script Date: 24/11/2020 18:37:00 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Pedido](
	[ticket] [int] IDENTITY(1,1) NOT NULL,
	[comida] [nvarchar](50) NOT NULL,
	[precio] [int] NOT NULL,
	[flag_delivery] [tinyint] NOT NULL,
	[direccion] [nvarchar](50) NULL,
	[estado] [nvarchar](50) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[ticket] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
USE [master]
GO
